.goods {
  width: 48%;
  float: left;
  height: 270px;
}
.goods dl {
  padding: 0.1rem 0.15rem;
  box-sizing: border-box;
}
.goods dl .p1 {
  font-weight: bold;
  font-size: 0.24rem;
  color: #666;
}
.goods dl .p2 {
  color: red;
  font-weight: bold;
}
.goods dl .p2 span {
  font-size: 0.28rem;
  font-weight: bold;
}
.goods dl .p3 {
  color: #666;
  font-size: 0.22rem;
  padding-top: 0.05rem;
  box-sizing: border-box;
}
.goods img {
  width: 100%;
  height: auto;
  display: block;
}
